@charset "UTF-8";

.al{ text-align: left !important;}
.ac{ text-align: center !important;}
.ar{ text-align: right !important;}

.vt{ vertical-align:top !important;}
.vm{ vertical-align:middle !important;}
.vb{ vertical-align:bottom !important;}
.vs{ vertical-align:baseline !important;}

.fl{ float:left !important;}
.fr{ float:right !important;}
.cl{ clear:both !important; display:block;}
.oh{ overflow:hidden !important;}

.pr{ position:relative; z-index:inherit;}
.pa{ position:absolute; left:0; top:0; width:100%; height:100%;}
.pf{ position:fixed; z-index:inherit;}

.di{ display:inline;}
.db{ display:block !important;}
.dn{ display:none !important;}

.flex{ display:flex; min-width:0;}
.flex > *{ min-width:0;}
.flex.di{ display:inline-flex;}
.flex.wrap{ flex-wrap:wrap;}
.flex.col{ flex-direction:column;}
.flex.col > *{ width:100%;}
.flex.space { justify-content:space-between;}
.flex.vspace{ align-content:space-between;}
.flex.hc{ justify-content:center;}
.flex.hr{ justify-content:flex-end;}
.flex.vt{ align-content:flex-start; align-items:flex-start;}
.flex.vc{ align-content:center; align-items:center;}
.flex.vb{ align-content:flex-end; align-items:flex-end;}
.flex.ac{ align-content:center; align-items:center; justify-content:center; text-align:center;}
.flex .mgL{ margin-left:auto;}
.flex .mgR{ margin-right:auto;}
.flex .mgT{ margin-top:auto;}
.flex > .grow{ flex:1 1 0%;}
.flex > .fix{ flex:0 0 auto;}
.flex > .fill{ flex:1 1 100%;}
.flex > .fx1 { flex:1;}
.flex > .fx2 { flex:2;}
.flex > .fx3 { flex:3;}
.flex.gap05{ gap:.5em;}
.flex.gap1 { gap:1em;}
.flex.gap15{ gap:1.5em;}
.flex.gap2 { gap:2em;}
.flex.gap25{ gap:2.5em;}
.flex.gap3 { gap:3em;}
.flex.gap4 { gap:4em;}
.flex.gap5 { gap:5em;}

.grid { display: grid;}

.mti.mtifill { font-variation-settings:'FILL' 1;}

.resize{ position:relative; display:block; height:0; padding-bottom:100%;}
.resize .re{ position:absolute; left:0; top:0; width:100%; height:100%;}
.resize.s1{ padding-bottom:66.66%;}
.resize.s2{ padding-bottom:56.25%;}
.resize.s3{ padding-bottom:75%;}

.bgfix{ background-repeat:no-repeat; background-position:50% 50%; background-size:cover;}
.bgfix.fix{ background-attachment:fixed;}
.bgfix.ctn{ background-size:contain;}

.imgfix{ width:100%; height:100%; overflow:hidden;}
.imgfix > img{ display:block; width:100%; height:100%; object-fit:cover;}
.imgfix.ctn > img{ object-fit:contain;}

.ttCp{ cursor:pointer;}
.ttCut{ display:block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.ttCutNo{ white-space:normal !important; overflow:visible;}

.rowCut{ white-space:normal; overflow:hidden; display:-webkit-box; -webkit-box-orient:vertical;}
.rowCut.r1{ -webkit-line-clamp:1;}
.rowCut.r2{ -webkit-line-clamp:2;}
.rowCut.r3{ -webkit-line-clamp:3;}
.rowCut.r4{ -webkit-line-clamp:4;}
.rowCut.r5{ -webkit-line-clamp:5;}
.rowCut.r6{ -webkit-line-clamp:6;}

/**/
.pd0{ padding:0 !important;}
.pt0{ padding-top:0 !important;}
.pb0{ padding-bottom:0 !important;}

.pd05{ padding:.5em !important;}
.pd1 { padding:1em !important;}
.pd2 { padding:2em !important;}

.mg0 { margin:0 !important;}
.mtA { margin-top:auto !important;}
.mt0 { margin-top:0 !important;}

.mbA { margin-bottom:auto !important;}
.mb0 { margin-bottom:0 !important;}

.mlA { margin-left:auto !important;}
.ml0 { margin-left:0 !important;}

.mrA { margin-right:auto !important;}
.mr0 { margin-right:0 !important;}


/**/
.fs10{ font-size:0.625em !important;}
.fs11{ font-size:0.688em !important;}
.fs12{ font-size:0.750em !important;}
.fs13{ font-size:0.813em !important;}
.fs14{ font-size:0.875em !important;}
.fs15{ font-size:0.938em !important;}
.fs16{ font-size:1.000em !important;}
.fs17{ font-size:1.063em !important;}
.fs18{ font-size:1.125em !important;}
.fs19{ font-size:1.188em !important;}
.fs20{ font-size:1.250em !important;}
.fs21{ font-size:1.313em !important;}
.fs22{ font-size:1.375em !important;}
.fs23{ font-size:1.438em !important;}
.fs24{ font-size:1.500em !important;}
.fs25{ font-size:1.563em !important;}
.fs26{ font-size:1.615em !important;}
.fs27{ font-size:1.688em !important;}
.fs28{ font-size:1.750em !important;}
.fs29{ font-size:1.813em !important;}
.fs30{ font-size:1.875em !important;}
.fs31{ font-size:1.938em !important;}
.fs32{ font-size:2.000em !important;}

.c_white { color:#fff !important;}
.c_black { color:#000 !important;}
.c_gray  { color:#777 !important;}
.c_dgray { color:#555 !important;}
.c_blue  { color:#2b9cbb !important;}
.c_red   { color:var(--crRed) !important;}
.c_orange{ color:#f55110 !important;}
.c_green { color:#3dab1d !important;}
.c_point { color:var(--siteC) !important;}
.c_point2{ color:var(--siteC2) !important;}
.c_point3{ color:var(--siteC3) !important;}
.c_grad1{ background-image:var(--crGrad1);}
.c_grad2{ background-image:var(--crGrad2);}

.fwT { font-weight:100;}
.fwEL{ font-weight:200;}
.fwL { font-weight:300;}
.fwR { font-weight:400;}
.fwM { font-weight:500;}
.fwB { font-weight:700;}
.fwBL{ font-weight:800;}
.fwEB{ font-weight:900;}

.fstL { text-decoration:underline;}
.fstLV{ text-decoration:line-through;}
.fstUC{ text-transform:uppercase;}
.fstIT{ font-style:italic;}
.fstS0{ letter-spacing:0 !important;}
.fstS1{ letter-spacing:-.063em !important;}
.fstS2{ letter-spacing:-.125em !important;}

.dataLink:before{ content:attr(data-link)}
.dataLink:hover:before,
.dataLink:focus:before{ text-decoration:underline}

.linkHover:hover{ text-decoration:underline;}

.page_tt{ font-size:1em; word-break:keep-all; line-height:1.4;}
.page_tt > .tt + .tt{ margin-top:1.25em;}
.page_tt.o1{ opacity:.7;}
.page_tt.o2{ opacity:.1;}
.page_tt.s1{ font-size:0.938em}
.page_tt.s2{ font-size:1.063em}
.page_tt.s3{ font-size:1.125em}
.page_tt.s4{ font-size:1.250em}
.page_tt.s5{ font-size:1.313em}
.page_tt.s6{ font-size:1.500em}
.page_tt.s7{ font-size:1.625em}
.page_tt.s8{ font-size:1.875em}
.page_tt.s9{ font-size:2.375em}
.page_tt.s10{ font-size:2.750em}
.page_tt.s11{ font-size:3.250em}
.page_tt.s12{ font-size:4.000em;}
.page_tt.s13{ font-size:4.500em;}
.page_tt.s14{ font-size:5.250em;}

.lhM{ line-height:85%;}
.lh0{ line-height:1;}
.lh1{ line-height:1.2;}
.lh2{ line-height:1.6;}
.lh3{ line-height:1.8;}
.wb{ word-break:keep-all;}
.wb2,
.wb2 *{ word-break:break-all; word-wrap:break-word;}

.psM1{ margin-top:-1px !important}
.ps0 { margin-top:0 !important}
.ps05{ margin-top:.5em !important}
.ps1 { margin-top:1em !important}
.ps15{ margin-top:1.5em !important}
.ps2 { margin-top:2em !important}
.ps3 { margin-top:3em !important}
.ps4 { margin-top:4em !important}
.ps5 { margin-top:5em !important}
.ps6 { margin-top:6em !important}
.ps  { margin-top:4em !important}

.page_btn{ display:flex; flex-wrap:wrap; align-items:center; justify-content:center; gap:.313em;}
.page_btn > *{ flex:1 1 0%; min-width:0;}
.page_btn .in{ display:flex; align-items:center; flex:0 0 auto; gap:.5em;}
.page_btn .in.right{ margin-left:auto;}
.page_btn .max0{ flex:0 0 auto;}
.page_btn .max1{ max-width:10em; min-width:10em;}
.page_btn .max2{ flex:1 1 100%;}
.page_btn.al{ justify-content:flex-start;}
.page_btn.ar{ justify-content:flex-end;}
.page_btn.space{ justify-content:space-between;}
.page_btn.space > *{ flex:0 0 auto;}

.conIdx{ width:0; height:0; overflow:hidden; visibility:hidden}
.conIdx.on{ width:auto; height:auto; visibility:visible}

/* BOARD */


/**/
.ess{ display:inline-block; vertical-align:middle; margin:0 .25em; height:.75em; font-size:1.25em !important; color:var(--crRed); font-weight:500;}
.ess:before { content: "*";}
.ess:first-child { margin-left: 0;}
.ess_tt{ color:#444;}
.ess_tt > *{ vertical-align:middle;}
.ess_tt > .tt{ display:inline-block;}
.ess_wrap{ display:flex; align-items:center;}

.label_st{ display:inline-flex; align-items:center; min-height:1.25em; gap:0 .75em; cursor:pointer; line-height:1; box-sizing:border-box;}
.label_st input{ transform: scale(1.5); transform-origin:top left; margin-bottom:auto; cursor:pointer;}
.label_st input ~ .tt{ flex:1; color: #666; font-weight:700;}
.label_st input:checked{ accent-color:var(--siteC);}
.label_st input:checked ~ .tt{ color:var(--siteC);}

.label_wrap{ display:flex; flex-wrap:wrap; align-items:flex-start; gap:1em 3em}
.label_wrap.gap1{ gap:1em 1em;}

.input_st{ display:inline-block; vertical-align:middle; border:1px solid #ddd; max-width:100%; height:3em; padding:.5em 1em;}
a.input_st,
button.input_st{ display:inline-flex; align-items:center; justify-content:center; text-align:center; gap:0 .5em;}
a.input_st.al{ justify-content:flex-start; text-align:left;}
.input_st[type=file]{ background:none; border:1px solid #ddd; padding:.5em; width:100%;}
textarea.input_st{ padding:1em; width:100%; height:10em}
textarea.input_st.h1{ height:15em}
textarea.input_st.h2{ height:20em}
select.input_st{ padding-right:2.5em}

input[type=text].input_st:focus,
input[type=password].input_st:focus,
input[type=tel].input_st:focus{ border-color:#111; color:#000;}

input[type=text].input_st:focus::placeholder,
textarea:focus::placeholder{ color:#ccc;}

button.input_st:disabled,
.input_st[type=button]:disabled,
.input_st[type=submit]:disabled{ cursor:default; filter:grayscale(1);}

.input_st > .tt{}
.input_st > .msi{ font-size:1em;}
.input_st > .msi:before{ font-size:1.063em;}

.input_st.s1{ height:3.5em; padding:.5em 1.5em; font-size:1.125em;}
.input_st.s2{ height:2.5em; font-size:.938em;}
.input_st.s3{ height:auto; font-size:.875em;}

.input_st.round{ border-radius:10em;}
.input_st.rounded{ border-radius: 5px;}

.input_st.c1   { background:var(--siteC); border-color:var(--siteC); color:var(--crWhite);}/*포인트색1*/
.input_st.c1.re{ background:var(--crWhite); border-color:var(--siteC); color:var(--siteC);}
.input_st.c2   { background:var(--siteC2); border-color:var(--siteC2); color:var(--crWhite);}/*포인트색2*/
.input_st.c2.re{ background:var(--crWhite); border-color:var(--siteC2); color:var(--siteC2);}
.input_st.c3   { background:#999999; border-color:#999999; color:#ffffff;}/*흐린회색*/
.input_st.c3.re{ background:#f5f5f5; border-color:#cccccc; color:#444444;}
.input_st.c4   { background:#333333; border-color:#333333; color:#ffffff;}/*진한회색*/
.input_st.c4.re{ background:#ffffff; border-color:#333333; color:#333333;}
.input_st.c5   { background:#000000; border-color:#000000; color:#ffffff;}/*블랙*/
.input_st.c5.re{ background:#ffffff; border-color:#000000; color:#000000;}
.input_st.c6   { background:var(--crGrad1); border:none; color:#ffffff;}/*그라데이션*/

.input_wrap{ display:flex; flex-wrap:wrap; align-items:center; gap:.25em}

.input_tt { padding:.75em 0; font-size: .875em; color: #666;}
.input_tt:first-child { padding-top: 0;}
.input_tt:last-child { padding-bottom: 0;}

.no_con { height: 15em; background: #f5f5f5; color: #555;}

