@charset "UTF-8";
.box0{ width:var(--fullWidth); margin:0 auto;}
.box1{ width: min(var(--baseWidth), var(--fullWidth)); margin:0 auto;}

.fullH{ height:calc(100vh);}
.fullMH{ min-height:calc(100vh - 8.75em) !important;}

.filW{ filter:var(--crWhitefil);}  /*화이트*/
.filB{ filter:var(--crBlackfil);}  /*블랙*/
.filRE{ filter:var(--crfilRE);}    /*색상반전*/


/* header */
#header { position: relative; z-index: 999;}
html:not(.main) #header { border-bottom: 1px solid #f1f1f1;}
#header .util_wrap { background: var(--siteBg1); color:#fff;}
#header .util_wrap .menu { justify-content:flex-end; gap:1.875em;}
#header .util_wrap .menu > li { }
#header .util_wrap .menu > li .in { height: 3.125em;}
#header .util_wrap .menu > li .tt { font-size: .813em;}
#header .util_wrap .menu > li .in:hover { text-decoration: underline;}

#header .gnb_wrap { background: #fff;}
#header .gnb_wrap .inner { gap: 0 3em; height: 5.625em;}
#header .gnb_wrap .logo .in{ display: block; width: 12em;}
#header .nav_wrap { flex:1;}
#header .nav_wrap .gnb > li.m_mypage,
#header .nav_wrap .gnb > li .dp1{ display: none;}
#header .nav_wrap .gnb .dp2 {}
#header .nav_wrap .gnb .dp2 > li {}
#header .nav_wrap .gnb .dp2 > li > a { position: relative; padding: 1.25em 2em;}
#header .nav_wrap .gnb .dp2 > li > a:after { content: ""; display: block; position: absolute; bottom: 0; left: 50%; 
transform: translateX(-50%); width:0; height: 4px; border-radius: 1em; background: var(--siteC); opacity: 0; transition:.2s;}
#header .nav_wrap .gnb .dp2 > li > a .tt { font-size: 1.125em; font-weight: 700;}
#header .nav_wrap .gnb .dp2 > li.on > a { color: var(--siteC);}
#header .nav_wrap .gnb .dp2 > li:hover > a:after { width: 90%; opacity: 1;}

#header .search_wrap {}
#header .search_wrap .search { width: 18.75em; height: 2.875em; background: #f2f2f2; border-radius: 10em;}
#header .search_wrap .search .input_st { background: none; border: none;}
#header .search_wrap .search .int_txt { flex:1; font-size: .938em;}
#header .search_wrap .search .int_btn .mti { font-size: 2em;}

#header .side_wrap .menu { gap: 0 1.5em;}
#header .side_wrap .menu > li { }
#header .side_wrap .menu > li .in { display: block;}
#header .side_wrap .menu > li .mti { font-size: 2em; display: block;}

#header .side_wrap .userInfo { gap:0 .75em;}
#header .side_wrap .userInfo .img { width: 2.25em; height: 2.25em; border: 1px solid #ccc; border-radius:50%; overflow: hidden;}
#header .side_wrap .userInfo .name { flex:1;}
#header .side_wrap .userInfo .name .tt { font-size: .813em;}

#header .side_wrap .dropdown { position: relative;}
#header .side_wrap .dropdown .list { position: absolute; top: calc(100% + .75em); left: 50%; transform: translateX(-50%); width: 11em; padding: .75em; 
background: #fff; border: 1px solid #ddd; border-radius: .75em; box-shadow: 0 3px .5em rgba(0,0,0,.1);}
#header .side_wrap .dropdown .list .userWrap{ margin-bottom: .75em; padding-bottom: .75em; border-bottom: 1px solid #ddd;}
#header .side_wrap .dropdown .list .userWrap .userId { margin-top: 1em;}
#header .side_wrap .dropdown .list .userWrap .userId .tt { font-size: .75em;}
#header .side_wrap .dropdown .list .in { display: block; padding: .5em; color: #555; transition: .2s;}
#header .side_wrap .dropdown .list .in .tt { font-size: .875em;}
#header .side_wrap .dropdown .list .in:hover { background: #f5f5f5; color: #000;}

#header .side_wrap .dropdown .list { display: none;}
#header .side_wrap .dropdown.on .list { display: block; animation: dropFadeIn 0.3s;}

@keyframes dropFadeIn {
    from { opacity: 0; margin-top: .5em;}
    to { opacity: 1; margin-top: 0;}
}

/* footer */
#footer { padding: 4.5em 0; background: var(--siteBg1); color: #fff;}
#footer .inner { gap: 1em 4em;}
#footer .logo .in { display: block; width: 14em;}
#footer .info_wrap { flex:1; gap: 2.5em 0;}
#footer .info_wrap .menu {}
#footer .info_wrap .menu > li { position: relative; padding-right: 1.5em; margin-right: 1.5em;}
#footer .info_wrap .menu > li:not(:last-child):after { content: ""; position: absolute; top:50%; right:0; transform: translateY(-50%); width: 1px; height: .75em; background: rgba(255,255,255,.3);}
#footer .info_wrap .menu .tt { display: block;}
#footer .info_wrap .menu .point { font-weight: 700;}
#footer .info_wrap .menu a:hover { text-decoration: underline;}

#footer .info_wrap .info { gap:0 2.5em;}
#footer .info_wrap .info .br { flex:1 0 100%;}
#footer .info_wrap .info > li:not(.br) { padding: .5em 0;}
#footer .info_wrap .info .tt { font-size: .875em;}
#footer .info_wrap .copy { font-size: .75em; text-transform:uppercase; opacity:.6;}

#footer .goTop{ position:fixed; z-index:999; right:1em; bottom:1em; width:3.5em; height:3.5em; background:#fff; border:3px solid #ddd; border-radius:50%; color:#333; opacity:0; visibility:hidden; transition:.2s;}
.scroll #footer .goTop{ opacity:1; visibility:visible;}
#footer .goTop .mti{ font-size:1.750em;}
#footer .goTop:hover{ background:var(--siteC); border-color:var(--siteC); color:#fff;}


/* contents */
#contents .doc{ padding:3em 0 10em 0;}

.page_tit { margin-bottom: 2em;}
.page_tit.flex { gap: .625em;}
.page_tit > .tt { font-size: 2.75em; font-weight: 700;}

/* 맛집 */
.shop_cate_wrap { margin-bottom: 3em; border-bottom: 1px solid #ddd;}
.shop_cate_wrap .category > li{}
.shop_cate_wrap .category > li .in{ position: relative; padding: 0 2em; height: 3.5em; color: #666; font-weight: 700;}
.shop_cate_wrap .category > li .in:before { content: ""; position: absolute; bottom:-1px; left:50%; transform: translateX(-50%); width: 0; height: 2px; background: var(--siteC); transition: .2s;}
.shop_cate_wrap .category > li:hover .in,
.shop_cate_wrap .category > li.on .in { color: var(--siteC);}
.shop_cate_wrap .category > li:hover .in:before,
.shop_cate_wrap .category > li.on .in:before { width: 100%;}

.shop_list_wrap {}
.shop_list {}
.shop_list .wrap_in { display: flex;}
.shop_list .wrap_in .in { flex:1; background: #fff; transition: .2s;}
.shop_list .wrap_in .in:not(.flex) { display: block;}
.shop_list .wrap_in .wrap_img .img { border-radius: 1.25em;}
.shop_list .wrap_in .wrap_con { gap: .75em; padding: 1.25em .625em;}
.shop_list .wrap_in .wrap_con .shop_tt {}
.shop_list .wrap_in .wrap_con .shop_tt.t1 { font-size: 1.125em; font-weight: 800;}
.shop_list .wrap_in .wrap_con .shop_tt.t2 { font-size: .875em; color: #555; line-height: 1.4;}
.shop_list .wrap_in .wrap_con .shop_tt.t3 { font-size: .813em; color: #555; font-weight: 700;}
.shop_list .wrap_in .info_wrap {}
.shop_list .wrap_in .info_wrap .star {}
.shop_list .wrap_in .info_wrap .star .mti { font-size: 1.375em; color: var(--crStar);}
.shop_list .wrap_in .info_wrap .star .tt { font-size: .813em; font-weight: 900;}
.shop_list .wrap_in .info_wrap .cate {}
.shop_list .wrap_in .info_wrap .user { flex:1; gap: .625em;}
.shop_list .wrap_in .info_wrap .user .img { width: 1.875em; height: 1.875em; border-radius: 50%; border: 1px solid #ccc;}
.shop_list .wrap_in .info_wrap .user .name { flex:1; font-size: .813em; color: #555; font-weight: 700;}

.shop_list.st2 {}
.shop_list.st2 .wrap_in .in { gap: 1.25em;}
.shop_list.st2 .wrap_in .wrap_img { width: 10.625em;} 
.shop_list.st2 .wrap_in .wrap_con { flex:1; gap: 1.25em;}

.shop_list.st1 { gap: 1.875em; grid-template-columns: repeat(5, minmax(0, 1fr));}
.shop_list.st2 { gap: 1.25em; grid-template-columns: repeat(3, minmax(0, 1fr));}
.shop_list.st3 { gap: 1.25em; grid-template-columns: repeat(5, minmax(0, 1fr));}
.shop_list.round {}
.shop_list.round .wrap_in .in { padding: 1em; border-radius: 1.25em; box-shadow: 0 4px 10px rgba(0,0,0,.15);}

.shop_list > li:hover .in { transform: translateY(-.5em);}
.shop_list > li:hover .wrap_con .shop_tt.t1 { color: var(--siteC);}

.shop_view_wrap { gap: 2.5em;}
.shop_view_wrap .side_wrap { position: sticky; top: 1.5em; width: 20em; max-height: calc(100vh - 3em); padding: 1.5em; border: 1px solid #ddd; border-radius: 1.25em;}
.shop_view_wrap .view_wrap { flex:1; order: -1;}

.shop_view_wrap .side_wrap .scroll { overflow-y: auto;}
.shop_view_wrap .side_wrap .menu { flex:1;}
.shop_view_wrap .side_wrap .menu > li { gap:.5em; padding: 1.25em 0; border-top: 1px dashed #ddd;}
.shop_view_wrap .side_wrap .menu > li:first-child { padding-top: 0; border-top: 0;}
.shop_view_wrap .side_wrap .menu .tt {}
.shop_view_wrap .side_wrap .menu .t1 { font-size: .938em; font-weight: 700;}
.shop_view_wrap .side_wrap .menu .t2 { font-size: .813em; color: #666;}
.shop_view_wrap .side_wrap .menu .t3 { font-size: .875em; font-weight: 900;}

.shop_view_wrap .view_top { padding-bottom: 5em;}
.shop_view_wrap .view_top .inner { gap: 4em;}
.shop_view_wrap .view_top .shop_view_photo_wrap { width: 45%;}
.shop_view_wrap .view_top .shop_view_info { flex:1;}

.shop_view_wrap .view_top .shop_view_photo { position: relative; border-radius: 1.25em; overflow: hidden;}
.shop_view_photo_wrap .btn { position: absolute; z-index: 2; top:50%; transform: translateY(-50%); width: 2.5em; height: 3em; background: #333; color: #fff; cursor: pointer; transition:.2s;}
.shop_view_photo_wrap .btn.prev { left: 0;}
.shop_view_photo_wrap .btn.next { right: 0;}
.shop_view_photo_wrap .btn:hover { background: var(--siteC);}
.shop_view_photo_wrap .paging { margin-top: 1.5em; text-align: center;}
.shop_view_photo_wrap .paging .swiper-pagination-bullet { width: .875em; height: .875em; background: #999;}
.shop_view_photo_wrap .paging .swiper-pagination-bullet-active { background: var(--siteC);}

.shop_view_info { padding: 2em 0; gap:2em;}
.shop_view_info .info_tit { gap:1.5em;}
.shop_view_info .info_tit .cate .tt { color: #666; font-weight: 700;}
.shop_view_info .info_tit .tit .tt { font-size: 2em; font-weight: 700;}
.shop_view_info .info_tit .txt .tt { font-size: .938em; color: #666; line-height: 1.5;}
.view_rating { gap: .625em;}
.view_rating .mti { color: var(--crStar);}
.view_rating .tt { display: flex; align-items:center; gap: .625em; font-weight: 700;}
.view_rating .tt + .tt:before { content: ""; width:1px; height: 1em; background: #ccc;}

.shop_view_info .info_list { gap: .75em; padding-top: 1.5em; border-top: 1px dashed #ddd;}
.shop_view_info .info_list > li { }
.shop_view_info .info_list > li .in { gap:.75em;} 
.shop_view_info .info_list > li .in .tit { width: 8em; gap:.5em;}
.shop_view_info .info_list > li .in .mti { font-size: 1.25em;}
.shop_view_info .info_list > li .in .tit .tt { color: #666; font-weight: 700;}
.shop_view_info .info_list > li .in .txt { flex:1; font-size: .938em; line-height: 1.5;}

/* 리뷰 */
.review_rating_box{}
.review_rating_box .rate_overview{ width:12em; text-align:center;}
.review_rating_box .rate_overview > .wrap_in{ flex:1;}
.review_rating_box .rate_overview .rateSec{ padding:.25em 0 .5em 0;}
.review_rating_box .rate_overview .rateNum .tt{ font-size:2em; font-weight: 900;}
.review_rating_box .rate_overview .rateTxt .tt{ font-size:.875em;}

.review_rating_box .rate_distribution{ flex:1; padding:0 1em 0 3em; border-left:1px solid #e5e7eb;}
.review_rating_box .rate_distribution > .wrap_list > li{ padding:.5em 0;}
.review_rating_box .rate_distribution > .wrap_list .item{}
.review_rating_box .rate_distribution > .wrap_list .item .tt{ font-size:.813em; color:#333;}
.review_rating_box .rate_distribution > .wrap_list .item .rateScore{ width:4.5em;}
.review_rating_box .rate_distribution > .wrap_list .item .ratePers { width:4em; padding-left:1em;}
.review_rating_box .rate_distribution > .wrap_list .item .rateBar{ flex:1; position:relative; height:8px; background:#e5e7eb; border-radius:5em; overflow:hidden;}
.review_rating_box .rate_distribution > .wrap_list .item .rateBar .barFill{ position:absolute; top:0; left:0; height:100%; background:var(--crStar);}

.rateStar_total{ position:relative; display:inline-block;}
.rateStar_total > .rateStar_wrap > .star{ width:1.25em; min-width:1.25em; padding:0;}
.rateStar_total > .rateStar_wrap.starFill{ position:absolute; top:0; left:0; overflow:hidden;}

.rateStar_wrap {}
.rateStar_wrap > .star{ font-size:1.375em; color:#ccc;}
.rateStar_wrap > .star.full{ color:var(--crStar);}
.rateStar_wrap > .star + .tt { padding-left: 1em;}

.review_list_box{ margin-top: 2em;}
.review_list_box .review_list{}
.review_list_box .review_list > li{ border:solid #e5e7eb; border-width:1px 0 0 0;}
.review_list_box .review_list .review_inner{ padding:2em 0; gap:1.5em;}
.review_list_box .review_list .avatar_wrap { gap: 1em;}
.review_list_box .review_list .avatar_img { width: 2.5em; border-radius: 50%; overflow: hidden;}
.review_list_box .review_list .conDate .tt { font-size: .875em; color: #555;}
.review_list_box .review_list .conTxt .tt { font-size: .938em; line-height: 1.6;}
.review_list_box .review_list .conPhoto .list { gap: 1em; grid-template-columns: repeat(5, minmax(0, 1fr));}
.review_list_box .review_list .conPhoto .list > li .in { border-radius: 1.25em;}

/* 지도 */
.shop_map_wrap {}
.shop_map_layout { gap: 2em 4em;}
.shop_map_layout .map_wrap { flex:1;}
.shop_map_layout .shop_upload { width: 28em;}

.map-container { width: 100%; height: calc(100vh - 18em); min-height: 30em; border: 1px solid #ccc; border-radius: 1.25em; overflow: hidden;}

.map_overlay_box { gap:.75em; width: 18em; background: #fff; padding: 1em; border: 1px solid #ccc; border-radius: 1em; box-shadow: 0 2px 5px rgba(0,0,0,0.2); white-space: normal;}
.map_overlay_box .tt { min-height: 0;}
.map_overlay_box .tt.t1 { font-weight: 800;}
.map_overlay_box .tt.t2 { font-size: .813em; color: #555;}
.map_overlay_box .tt.t3 { font-size: .875em;}
.map_overlay_box .tt.t4 { font-size: .875em; font-weight: 800;}

/*******/
.tab_st{ padding-bottom:2em}
.tab_st > li{ flex:1;}
.tab_st > li > a{ display:flex; justify-content:center; align-items:center; height:3.5em; border:2px solid transparent; background:#f5f5f5; position:relative; font-size:1.125em; font-weight:700; color:#888; transition:.2s;}
.tab_st > li:not(.on):hover > a{ border-color:#111; color:#111; background:#fff; z-index:1; box-shadow:0 0 1em rgba(0,0,0,.2); z-index:1}
.tab_st > li.on > a{ border-color: var(--siteC); background: var(--siteC); color: #fff; z-index:1;}
.tab_st > li > a:before{ content:""; position:absolute; left:-3px; top:50%; height:50%; width:1px; background:#ddd; transform:translateY(-50%)}
.tab_st > li:first-child > a:before,
.tab_st > li:hover > a:before,
.tab_st > li.on > a:before{ display:none}


/* 회원서비스 */
.member_wrap {}
.member_wrap .mem_inner { width: min(38em, var(--fullWidth)); margin: 0 auto;}
.member_wrap .mem_inner.w1 { width: min(30em, var(--fullWidth));}

.member_wrap .mem_tit:not(:last-child) { margin-bottom: .75em;}
.member_wrap .mem_tit > .tt{ font-size: 1.063em;}
.member_wrap .mem_tit > .tt.s1{ font-size: 1.250em; font-weight: 700;}
.member_wrap .mem_tit > .tt.s2{ font-size: 2.000em; font-weight: 800;}
.member_wrap .mem_txt > .tt{ font-size: 1em;}

.member_wrap .btn_wrap{ display: flex; flex-wrap: wrap; gap:.5em; margin-top:2.5em !important;}
.member_wrap .btn_wrap .input_st { flex:1;}
.member_wrap .btn_wrap .input_st.s1 { font-weight: 700;}
.member_wrap .btn_wrap .w1{ flex:1 0 100%;}

.form_st:not(:first-child) { margin-top: 2.25em;}
.form_st > li:not(:first-child) { margin-top: 1.75em;}
.form_st > li .in { display:flex; flex-wrap:wrap; align-items:center; gap:.5em;}
.form_st > li .in .fit { flex:1;}
.form_st > li .agree{ border: 1px solid #ddd;}
.form_st > li .agree > li { padding: .875em 1.5em;}
.form_st > li .agree > li.all { border-bottom: 1px solid #ddd;}
.form_st > li .agree > li.all + li { padding-top: 1.875em;}
.form_st > li .agree > li:last-child { padding-bottom: 1.875em;}
.form_st > li .agree > li .more{ border:1px solid #aaa; padding:.25em 1em; font-size:.813em; color:#777;}
.form_st > li .agree > li .more:before{ content:"보기"}
.form_st > li .agree > li .agree_box{ display:none}
.form_st > li .agree > li .on .more{ background: var(--siteC); border-color: var(--siteC); color: #fff;}
.form_st > li .agree > li .on .more:before{ content:"접기"}
.form_st > li .agree > li .on .agree_box{ display:block}

.form_st > li .profile { gap: 1em 2em; padding: 1.5em 0; border: dashed #bbb; border-width: 1px 0;}
.form_st > li .profile .img { width: 8em; height: 8em; border: 1px solid #ccc; border-radius:50%; overflow: hidden;}


.agree_box{ background:#f9f9f9; border:1px solid #ddd; padding:1em 1.5em}
.agree_box .con{ font-size:.938em; color:#666; line-height:1.625em}
.agree_box .con.h1{ height:10.8em; overflow-y:auto}
.agree_box .con b,
.agree_box .con strong{ color: #333;}
.agree_box .con p { padding: .375em 0;}

/* main */
.main_visual { position: relative; width: var(--fullWidth); margin: 0 auto; overflow: hidden;}
.main_visual .img { position: relative;}
.main_visual .img:before { content: "";  position: absolute; left: 0; bottom:0; width: 100%; height: 100%; background: linear-gradient(0deg,rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 100%);}
.main_visual .visual_con { position: absolute; left: 0; right:0; bottom:0; padding: 2.5em 1.875em; gap: 1.25em; color: #fff;}
.main_visual .visual_con .cate {}
.main_visual .visual_con .tt { word-break: keep-all;}
.main_visual .visual_con .t1 { font-size: .938em; font-weight: 700; display: inline-block; padding: .5em 1em; background: #000; border-radius: 2em;}
.main_visual .visual_con .t2 { font-size: 1.625em; font-weight: 800;}
.main_visual .visual_con .t3 { line-height: 1.5;}

.main_visual .btn { position: absolute; z-index: 2; top:50%; transform: translateY(calc(-50% - 2.5em)); width: 2.5em; height: 3em; background: #333; color: #fff; cursor: pointer; transition:.2s;}
.main_visual .btn.prev { left: 0;}
.main_visual .btn.next { right: 0;}
.main_visual .btn:hover { background: var(--siteC);}
.main_visual .paging { position: relative; margin: 2em 0; height: .375em !important; background: #f2f2f2; border-radius: 1em; overflow: hidden;}
.main_visual .paging .swiper-pagination-progressbar-fill { background: var(--siteC);}


.main_wrap {}
.main_wrap .inner { padding: 3.75em 0;}
.main_banner .inner { padding: 2.5em 0;}
.main_review .inner { padding-bottom: 6.25em;}
.main_new { background: #f8f8f8;}
.main_tit { margin-bottom: 1.875em;}
.main_tit .tit_wrap { gap: .625em;}
.main_tit .tit_wrap .mti { font-size: 3.5em;}
.main_tit .tit_wrap .tit { font-size: 2.5em; font-weight: 300;}
.main_tit .tit_wrap .point { color: var(--siteC);}

.main_more {}
.main_more .more { gap: .625em;}
.main_more .more .tt { font-size: .875em;}
.main_more .more .mti { font-size: 1.25em;}
.main_more .more:hover { color: var(--siteC);}

.main_banner .banner { border-radius: 1.25em; overflow: hidden;}






